h1 {
    color: black;
    margin-left: 20;
    text-align-last: center;
}

h2{
    color: turquoise;
    font-style: italic;
    text-align-last: center;
}

p{
    color: black;
    text-align-last: center;
}

body{
    background-color: turquoise;
}

img{
    text-align-last: center;
}